.father {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 100px 50px 300px;
  gap: 10px;
  .child {
    flex-basis: 30%;
    background: peru;
    color: white;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
  }
}
