.wrapper {
  display: flex; //box의 부모가 flex container가 됨
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 200vh;
  .box {
    height: 200px;
    background: peru;
    color: white;
  }
}
